    <div class="bg-image">
    <center>
    <h1>Tarot Card Dealer</h1>
    </center>
    <center>
    <h2> How Many Cards Would You Like Dealt? <h2>
    <table>
    <tr>
    <td><button class="button" onclick="location.href='/tarot/3'" type=button>Deal Three Cards</button></td>
    <td><button class="button" onclick="location.href='/tarot/5'" type=button>Deal Five Cards</button></td>
    <td><button class="button" onclick="location.href='/tarot/7'" type=button>Deal Seven Cards</button></td>
    </tr>
    </table>
    <button class="button" onclick="location.href='/'" type=button>Return to Journal</button>
    <br>
    </center>
