   <blockquote>
        <h2>Add New Entry</h2>
        <center>
        <form action='/upload' enctype="multipart/form-data" method='POST'> 
        <textarea rows=10 cols=80 name="log"/></textarea>
        </center>
   </blockquote>
        <center>
        <table>
        <tr>
        <td>
        <input name="file" type="file" />
        </td>
        <td>
        <input type="Submit" value="Post to Journal" />
        </form>
        </td>
        <td>
        <button class="button" onclick="location.href='/'" type=button>Return to Journal</button>
        </td>
        </table>
        </center>

