
<blockquote>
    <% session[:entry]= @entry%>
    <%= yield %>
</blockquote>
<center>
<button class="button" onclick="location.href='/#<%= @entry.id%>'" type=button>Return to Journal</button>
</center>
