
    <center>
    <h1>Tarot Card Dealer</h1>
    <table name="mytable" class="a">
    <tr id="1">
    <% @entry.tarot.each do |id|%>
        <td>
        <center><button class="button" onclick="location.href='/tarot/<%=@entry.id%>,<%=@entry.tarot.index(id)%>'"><img src="/images/cardback.jpg"></button></center>
        </td>
    <% end %>
    </tr>
    </table>
