    <center>
    <h1>Tarot Card Dealer</h1>
    <table class="a">
    <tr>
    <% @entry.tarot.each do |id|%>
        <td>
        <center><button class="button" onclick="location.href='/tarot/<%=@entry.id%>,<%=@entry.tarot.index(id)%>'"><img src="/images/cardback.jpg"></button></center>
        </td>
    <% end %>
        </tr>
       </table>
       <table class="a">
       <tr>
    <% @chosen.each do |id|%>
        <td>
        <center>
    <img src='/images/<%=id%>.jpg'>
        </center>
        </td>
    <% end%>
    </tr>
    <tr>
    <% @log.each do |meaning|%>
    <td>
    <center>
    <%= meaning %>
    </center>
    </td>
    <% end %>
        </table>
